.demo{
    float: left;
    margin:30px 0;
}
.ant-tooltip-inner{
    min-width: 100px;
    margin-left: 30px;
    background-color: #fff !important;
    padding:0;
}
.right_demo{
    width: 149px;
    margin-left: 24px;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}
.right_sp{
    float: right;
}
.ant-tooltip-arrow-content{
    background-color: #001529;
}
.right_fast{
    width: 125px;
    height: 40px;
    display: inline-block;
}
