.system{
    padding:20px;
}
.system1{
    font-size: 18px;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    margin: 10px 0;
    color: #333;
}
.system2{
    padding-bottom:20px;
}
.right1{
    width:200px;
    float: left;
    overflow: hidden;
}
.right2{
    width: calc(100% + 20px);
    overflow-y:scroll ;
    overflow-x: hidden;
    height: calc(100vh - 260px);
}
.system_right{
    float: left;
    width: 200px;
    height: calc(100vh - 160px);
    background-color: #ffffff;
}
.system_new{
    padding: 15px 30px;
    color:#fff;
    text-align: center;
}
.site-layout{
    padding: 10px !important;
}
.system_new .system_new1{
    background-color: #4ab8b8;
    width: 140px;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.system_item{
    padding: 5px 0 20px;
}
.system_item div{
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
}
.system_item1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hidden{
    display: none;
}
.show{
    display: block;
}
.activeIndex{
    background-color: #99b0d8;
}
.ant-modal-body input{
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #999;
    padding-left: 10px;
}
.ul{
    width: 60px;
    height: 120px;
    position: absolute;
    left: 330px;
    background-color: #fff;
    background-color: #f7f7f7;
    padding: 0 10px;
    cursor: pointer;
}
ul{
    list-style: none;
}
.system_left{
    float: right;
    width: calc(100% - 220px);
    height: calc(100vh - 160px);
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
.system_top{
    padding: 0 20px;
    width: 100%;
    height: 55px;
    line-height: 55px;
    border-bottom: 2px solid #ddd;
}
.system_top span{
    display: inline-block;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
    margin-right: 35px;
    border-bottom: 3px solid #3E84E9;
    color: #3E84E9;
}
.system_concat{
    height: 50px;
    line-height: 50px;
    text-align: right;
}
.system_concat1{
    padding: 0 20px;
}
.system_select{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding:0 10px;
    border:1px solid #ddd;
}
 .ant-table-pagination-right {
     display: none;
 }
.pagination{
    margin: 15px;
    position: absolute;
    bottom: 30px;
    right: 40px;
    font-size: 12px;
}
.ant-table-wrapper {
    max-height: 30px !important;
}

.system_delete{
    color:#659DED;
}
