#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}
.left_cont{
    display: flex;
    justify-content: space-between;
}
.create{
    color: #fff;
    width: 200px;
    height: 40px;
    background-color: #1890FF;
    line-height: 40px;
    padding: 0 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all 0.2s;
}
.menu_right{
    float: right;
}
.journal{
    width: 220px;
    height: 150px;
    background-color: #fff;
    padding: 15px;
    color: #454E57;
    cursor: pointer;
    box-sizing: border-box;
}
.journal span{
    width: 80px;
    height: 30px;
    background-color: #f1f1f1;
    line-height: 30px;
    padding: 0 5px;
    margin: 7px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}
.journal span:hover{
    background-color: #3E84E9;
    color: #ffffff;
}
