
.creatpopover{
    button{
        width: 170px;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }

}
.poppvercontent{
    div{
        margin-bottom: 10px;
        span{
            display: inline-block;
            width: 85px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #f3f3f3;
            &:hover{
                background-color: rgb(62, 132, 233);
                color: white;
                cursor: pointer;
            }
        }

    }
}
