.taskContent{
    width: 920px;
    height: calc(100vh - 40px);
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 10px;
    margin:20px;
}
.taskTop{
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 2px solid #e6e6e6;
    padding:0 20px;
    color: #3E84E9;
}
.taskSp{
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid  #3E84E9;
}
.taskAll{
    margin-right: 20px;
}
.taskDropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskCheckbox{
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taskAvatar{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e6e6e6;
    line-height: 30px;
    text-align: center;
}
.taskMan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px 75px 30px 0 ;
}
.linkBusiness{
    width: 100%;
    height: 40px;
    background-color: #F5F7FA;
    color: #3e84e9;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 13px;
    margin:10px 0;
}
.taskAddComment{
    /*display: inline-block;*/
    width: calc(100% - 43px);
    height: 40px;
    line-height: 40px;
    background-color: #e1e1e1;
    padding:6px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.taskReply{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #acaaaa ;
}
.ant-table-cell-fix-left-last{
    left: 40px !important;
}
.taskAddLabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 70px 20px 0;
}
.site-calendar-demo-card {
    width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}
.taskAddLabel1{
    display: inline-block;
    width: 60px;
    height: 26px;
    background-color: #dddddd;
    text-align: center;
    line-height: 26px;
    color: #999999;
    cursor: pointer;
    border-radius: 5px;
}
.taskLabelName{
    padding:5px 8px;
    margin:0 10px;
    background-color: #0FC9E7;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}
.class .activeColor{
    background-color: #12c3ed;
}
.textContent{
    margin: 10px 0 10px 43px;
    padding: 10px 0 10px 10px;
    background-color: #ddd;
    border-radius: 6px;
}
