.journalCont{
    width: 920px;
    height: calc(100vh - 90px);
    background-color: #ffffff;
    /*margin: 20px;*/
    border-radius: 6px;
    border:1px solid #e6e6e6;
    padding: 20px;
    margin-top: 60px;
}
.journalTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 16px;
    border-bottom: 2px solid #e6e6e6;
    padding: 0 10px;
    cursor: pointer;
}
.journalTopSp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.journalActive{
    color: #3e84e9;
    border-bottom:2px solid  #3e84e9;
}
.journalSp{
    display: inline-block;
    height: 50px;
    line-height: 50px;
}
.journalSelect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.journalText {
    margin: 10px 0;
    padding: 10px 0 10px 10px;
    background-color: #ddd;
    border-radius: 6px;
}
.journalInfor{
    display: inline-block;
    width: 100%;
    border:1px solid #ddd;
    margin-top:20px;
    padding: 10px;
}
.dateSp{
    width: 40%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    line-height: 50px;
}
.date{
    width: 100%;
    height: 420px;
    overflow: hidden;
    margin:20px 0;
}
.date1{
    width: calc(100% + 13px);
    overflow-y:scroll ;
    overflow-x: hidden;
    height: 420px;
}
.journalFoot{
    width: 100%;
    height: 490px;
    overflow: hidden;
    margin:20px 0;
}
.journalFoot1{
    width: calc(100% + 13px);
    overflow-y:scroll ;
    overflow-x: hidden;
    height: 476px;
    padding: 0 10px;
}
