@import url('~antd/dist/antd.css');

.top{
    padding: 0 90px 0 30px;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button>button:nth-child(2){
    margin-left: 20px;
    background-color: #c2c2c2;
    color: white;
}
.button>button:nth-child(2):focus{
    border: none;
}
.left>img{
    height: 40px;
    margin-right: 60px;
}
.left>span{
    font-size: 16px;
}