@font-face {
  font-family: "iconfont"; /* Project id 2607566 */
  src: url('iconfont.woff2?t=1626002413613') format('woff2'),
       url('iconfont.woff?t=1626002413613') format('woff'),
       url('iconfont.ttf?t=1626002413613') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yejizhibiao:before {
  content: "\e613";
}

.icon-aixin:before {
  content: "\f4cf";
}

.icon-jianbao:before {
  content: "\e68a";
}

.icon-bi:before {
  content: "\e618";
}

.icon-zu-:before {
  content: "\e63b";
}

.icon-jinbi:before {
  content: "\e63c";
}

.icon-genjin:before {
  content: "\e66f";
}

.icon-qianbao:before {
  content: "\eef4";
}

.icon-ren1:before {
  content: "\e60d";
}

.icon-lianxiren:before {
  content: "\e6c2";
}

.icon-qiandai1:before {
  content: "\e691";
}

.icon-yanse:before {
  content: "\e666";
}

.icon-yanse1:before {
  content: "\e779";
}

.icon-shangji:before {
  content: "\e609";
}

.icon-gonghai:before {
  content: "\e777";
}

.icon-11:before {
  content: "\e606";
}

.icon-daiban:before {
  content: "\e607";
}

.icon-kehu1:before {
  content: "\e696";
}

.icon-yibiaopan:before {
  content: "\e759";
}

.icon-hetong:before {
  content: "\e747";
}

.icon-qiandai:before {
  content: "\e608";
}

.icon-chanpin:before {
  content: "\e628";
}

.icon-i_xiansuo:before {
  content: "\e69e";
}

.icon-lajitong:before {
  content: "\e62b";
}

.icon-more:before {
  content: "\e62e";
}

.icon-moreread:before {
  content: "\e605";
}

.icon-jinzhi:before {
  content: "\e601";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-xiala3:before {
  content: "\e69a";
}

.icon-up:before {
  content: "\e602";
}

.icon-xiangmu:before {
  content: "\e658";
}

.icon-diannao:before {
  content: "\e671";
}

.icon-kehu:before {
  content: "\e600";
}

.icon-xiaoshou:before {
  content: "\e617";
}

.icon-hua:before {
  content: "\e603";
}

.icon-hua-copy:before {
  content: "\e604";
}

